extends layout

block content
  .navbar-wrapper
    .container
      .navbar.navbar-inverse.navbar-static-top( style="border-radius: 4px;" role="navigation" )
        .container
          .navbar-header
            a.navbar-brand( style="color: #fff;font-size: 20px;padding: initial;" href="#" )
              img( style="height: inherit;" alt="VirtualID" src="#{config.appRootFolder}/images/virtualid-white.png" )
          .navbar-collapse.collapse
            ul.nav.navbar-nav.navbar-right
  .container(style="max-width: 800px;")
    h1 Inscription
    p.lead Entrez vos informations pour créer votre compte
    ul
      li Votre nom d'utilisateur sera visible (non-modifiable)
      li Les autres informations seront invisibles et cryptées (modifiable)
    if (error && error.length > 0)
      br
      .error-msg(style="color:red;")= error
      br
    br
    p(id="errormessage" style="color:red;")
    form(role='form', style='margin: 0 auto;max-width: 300px;')
      .form-group
        input.form-control(id="username-sub" name="username" type="username" placeholder="Nom d'utilisateur (obligatoire)" title="Peut contenir des caractères alpha-numériques en minuscule (0 à 9 et a à z), des tirets (-), des underscores (_) ou des points (.)" pattern="[a-z0-9]+[a-z0-9._-]+[a-z0-9]+" required autofocus)
      .form-group
        input.form-control(id="displayname-sub" name="displayname" type="text" placeholder="Nom d'affichage")
      .form-group
        input.form-control(id="email-sub" name="email" type="email" placeholder="E-mail (obligatoire)" required)
      .form-group
        input.form-control(id="password-sub" name="password" type="password" placeholder="Mot de passe (obligatoire)" required)
      .form-group
        input.form-control(id="passwordcheck-sub" name="passwordcheck" type="password" placeholder="Vérification mot de passe (obligatoire)" required)
      button.btn.btn-primary(id="subscribeButton" type='submit') Valider
      &nbsp;
      a(href='#{config.appRootFolder}/')
        button.btn.btn-default(type="button") Annuler
  .modal.fade(id="subscribingModal" tabindex="-1" role="dialog" aria-labelledby="subscribingModalLabel" aria-hidden="true")
    .modal-dialog.modal-sm
      .modal-content
        .modal-header
          h5.modal-title(id="subscribingModalLabel") Chargement
        .modal-body
          div
            p
              | Génération des clés de chiffrement...
            .progress
              .progress-bar.progress-bar-info.progress-bar-striped.active(role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%")
